@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
}
.enTete{
    width: 100%;
    height: 40px;
    background-color: #0b0a3d;
}
.barreMenu{
    width: 100%;
    height: 40px;
    background-color: #E53935;
}
.contenuhaut{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.logo img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.barhaut{
    display: flex;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;

}
.logo{
    width: 70px;
    height: 100%;
    border-radius: 15px;
    margin-right: 20px;
}
.logo p{
    color: #ffffff;
    font-size: 20pt;
    font-family: 'Arial';
    text-shadow: 0px 0px 2px #ffffff;
}
.logo span{
    color: #E53935;
    font-size: 28pt;
    font-weight: bold;
    text-shadow: 0px 0px 2px #E53935;
}
ul{
    display: flex;
    list-style: none;
    padding-top: 9px;
}
ul li{
    margin-right: 40px;
}
ul a{
    text-decoration: none;
    color: #ffffff;
}
ul li i{
    color: #0b0a3d;
    margin-right: 5px;
}
.contenu{
    width: 100%;
    background-image: url('../images_site/home-ribbon-marine.png');
    font-family: 'Poppins', sans-serif;
}
.grandbaniere{
    width: 90%;
    height: 100%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.baniere{
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30px;
    box-shadow:0px 0px 8px #0b0a3d;
}
.reseauSociaux{
    margin-top: 20px;
    width: 5%;
    height: 400px;
    margin-right: 5%;
    border-radius: 30px;
    background-color: #E53935; 
}
.corps{
    display: flex;
    width: 100%;
    height: 100%;
}
.baniereP{
    margin-top: 20px;
    width: 90%;
    height: 1000px;
}
.article{
    float: left;
    width: 65%;
    height: 100%;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow:0px 0px 8px #0b0a3d;
}
.publicite{
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 5%;
    border-radius: 30px;
}
.infos{
    width: 100%;
    height: 25%;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow:0px 0px 8px #0b0a3d;
    margin-bottom: 10px;
}